<!DOCTYPE html>
<html>
<head>
  <title>Smart data mapper</title>
  <%= stylesheet_link_tag    "smart_data_mapper/application", media: "all" %>
  <%= javascript_include_tag "smart_data_mapper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
